.header-container-wrapper {
    background: tomato;
}

.header-container-area h3 {
    margin: 0;
    line-height: 55px;
    color: #fff;
}

.menu-header-menu-container {
    text-align: right;
}

.menu-header-menu-container li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.menu-header-menu-container li {
    list-style: none;
    display: inline-block;
}

.menu-header-menu-container li ul.sub-menu {
    display: none;
}

/* Post styles */
.single-post {
    border: 1px solid #ddd;
    padding: 15px;
    border-bottom: none;
}

.single-post:last-child {
    border-bottom: 1px solid #ddd;
}